dashboard/__pycache__/file_loader_page.cpython-310.pyc
dashboard/__pycache__/fix_columns.cpython-310.pyc
dashboard/__pycache__/show_stats.cpython-310.pyc
dashboard/.ipynb_checkpoints/augmentation_testing-checkpoint.ipynb
dashboard/.ipynb_checkpoints/exp_tiny_bert_models-checkpoint.ipynb
dashboard/ai_tools/__pycache__/trainer_logistics.cpython-310.pyc
dashboard/checkpoints/best_ali_dashboard_test_-v1.ckpt
dashboard/checkpoints/best_ali_dashboard_test_-v2.ckpt
dashboard/checkpoints/best_ali_dashboard_test_.ckpt
dashboard/checkpoints/best_multiclass_test-v1.ckpt
dashboard/checkpoints/best_multiclass_test-v2.ckpt
dashboard/checkpoints/best_multiclass_test-v3.ckpt
dashboard/checkpoints/best_multiclass_test-v4.ckpt
dashboard/checkpoints/best_multiclass_test-v5.ckpt
dashboard/checkpoints/best_multiclass_test-v6.ckpt
dashboard/checkpoints/best_multiclass_test-v7.ckpt
dashboard/checkpoints/best_multiclass_test.ckpt
dashboard/checkpoints/best_multiclass_test21-v1.ckpt
dashboard/checkpoints/best_multiclass_test21.ckpt
dashboard/contents/data/for_training/for_training_test.csv
dashboard/contents/data/for_training/for_training_train_aug.csv
dashboard/contents/data/for_training/for_training_train.csv
dashboard/contents/data/for_training/Untitled.ipynb
dashboard/contents/data/for_training/.ipynb_checkpoints/for_training_train-checkpoint.csv
dashboard/contents/data/for_training/.ipynb_checkpoints/Untitled-checkpoint.ipynb
dashboard/contents/data/multi_class/multi_class_test.csv
dashboard/contents/data/multi_class/multi_class_train_aug.csv
dashboard/contents/data/multi_class/multi_class_train.csv
dashboard/lightning_logs/IDRAK/version_0/events.out.tfevents.1671540073.kali
dashboard/lightning_logs/IDRAK/version_0/hparams.yaml
dashboard/lightning_logs/IDRAK/version_1/events.out.tfevents.1671540287.kali
dashboard/lightning_logs/IDRAK/version_1/hparams.yaml
dashboard/lightning_logs/IDRAK/version_2/events.out.tfevents.1671541503.kali
dashboard/lightning_logs/IDRAK/version_2/hparams.yaml
dashboard/lightning_logs/IDRAK/version_3/events.out.tfevents.1671541624.kali
dashboard/lightning_logs/IDRAK/version_3/hparams.yaml
dashboard/lightning_logs/IDRAK/version_4/events.out.tfevents.1671542459.kali
dashboard/lightning_logs/IDRAK/version_4/hparams.yaml
dashboard/lightning_logs/IDRAK/version_5/events.out.tfevents.1671549915.kali
dashboard/lightning_logs/IDRAK/version_5/hparams.yaml
dashboard/data/data_idrak_dataset_train_df_.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_history.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_invalid_predictions.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_report.json
dashboard/models/multiclass_test/multiclass_test_history.csv
dashboard/models/multiclass_test/multiclass_test_invalid_predictions.csv
dashboard/models/multiclass_test/multiclass_test_report.json
dashboard/models/multiclass_test21/multiclass_test21_history.csv
dashboard/models/multiclass_test21/multiclass_test21_invalid_predictions.csv
dashboard/models/multiclass_test21/multiclass_test21_report.json
dashboard/tinybert_results1/ali_dashboard_test__history.csv
dashboard/tinybert_results1/ali_dashboard_test__invalid_predictions.csv
dashboard/tinybert_results1/ali_dashboard_test__report.json
dashboard/tinybert_results1/multiclass_test_history.csv
dashboard/tinybert_results1/multiclass_test_invalid_predictions.csv
dashboard/tinybert_results1/multiclass_test_report.json
dashboard/tinybert_results1/multiclass_test21_history.csv
dashboard/tinybert_results1/multiclass_test21_invalid_predictions.csv
dashboard/tinybert_results1/multiclass_test21_report.json
