dashboard/__pycache__/file_loader_page.cpython-310.pyc
dashboard/__pycache__/fix_columns.cpython-310.pyc
dashboard/__pycache__/show_stats.cpython-310.pyc
dashboard/.ipynb_checkpoints/augmentation_testing-checkpoint.ipynb
dashboard/.ipynb_checkpoints/exp_tiny_bert_models-checkpoint.ipynb
dashboard/ai_tools/__pycache__/trainer_logistics.cpython-310.pyc
dashboard/checkpoints/best_ali_dashboard_test_-v1.ckpt
dashboard/checkpoints/best_ali_dashboard_test_-v2.ckpt
dashboard/checkpoints/best_ali_dashboard_test_.ckpt
dashboard/checkpoints/best_multiclass_test-v1.ckpt
dashboard/checkpoints/best_multiclass_test-v2.ckpt
dashboard/checkpoints/best_multiclass_test-v3.ckpt
dashboard/checkpoints/best_multiclass_test-v4.ckpt
dashboard/checkpoints/best_multiclass_test-v5.ckpt
dashboard/checkpoints/best_multiclass_test-v6.ckpt
dashboard/checkpoints/best_multiclass_test-v7.ckpt
dashboard/checkpoints/best_multiclass_test.ckpt
dashboard/checkpoints/best_multiclass_test21-v1.ckpt
dashboard/checkpoints/best_multiclass_test21.ckpt
dashboard/contents/data/for_training/for_training_test.csv
dashboard/contents/data/for_training/for_training_train_aug.csv
dashboard/contents/data/for_training/for_training_train.csv
dashboard/contents/data/for_training/Untitled.ipynb
dashboard/contents/data/for_training/.ipynb_checkpoints/for_training_train-checkpoint.csv
dashboard/contents/data/for_training/.ipynb_checkpoints/Untitled-checkpoint.ipynb
dashboard/contents/data/multi_class/multi_class_test.csv
dashboard/contents/data/multi_class/multi_class_train_aug.csv
dashboard/contents/data/multi_class/multi_class_train.csv
dashboard/lightning_logs/IDRAK/version_0/events.out.tfevents.1671540073.kali
dashboard/lightning_logs/IDRAK/version_0/hparams.yaml
dashboard/lightning_logs/IDRAK/version_1/events.out.tfevents.1671540287.kali
dashboard/lightning_logs/IDRAK/version_1/hparams.yaml
dashboard/lightning_logs/IDRAK/version_2/events.out.tfevents.1671541503.kali
dashboard/lightning_logs/IDRAK/version_2/hparams.yaml
dashboard/lightning_logs/IDRAK/version_3/events.out.tfevents.1671541624.kali
dashboard/lightning_logs/IDRAK/version_3/hparams.yaml
dashboard/lightning_logs/IDRAK/version_4/events.out.tfevents.1671542459.kali
dashboard/lightning_logs/IDRAK/version_4/hparams.yaml
dashboard/lightning_logs/IDRAK/version_5/events.out.tfevents.1671549915.kali
dashboard/lightning_logs/IDRAK/version_5/hparams.yaml
dashboard/data/data_idrak_dataset_train_df_.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_history.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_invalid_predictions.csv
dashboard/models/best_multiclass_test-v7.ckpt/multiclass_test_report.json
dashboard/models/multiclass_test/multiclass_test_history.csv
dashboard/models/multiclass_test/multiclass_test_invalid_predictions.csv
dashboard/models/multiclass_test/multiclass_test_report.json
dashboard/models/multiclass_test21/multiclass_test21_history.csv
dashboard/models/multiclass_test21/multiclass_test21_invalid_predictions.csv
dashboard/models/multiclass_test21/multiclass_test21_report.json
dashboard/tinybert_results1/ali_dashboard_test__history.csv
dashboard/tinybert_results1/ali_dashboard_test__invalid_predictions.csv
dashboard/tinybert_results1/ali_dashboard_test__report.json
dashboard/tinybert_results1/multiclass_test_history.csv
dashboard/tinybert_results1/multiclass_test_invalid_predictions.csv
dashboard/tinybert_results1/multiclass_test_report.json
dashboard/tinybert_results1/multiclass_test21_history.csv
dashboard/tinybert_results1/multiclass_test21_invalid_predictions.csv
dashboard/tinybert_results1/multiclass_test21_report.json
dashboard/__pycache__/merge.cpython-310.pyc
dashboard/__pycache__/split.cpython-310.pyc
dashboard/data/merge.csv
dashboard/data/merge1.csv
dashboard/ai_tools/__pycache__/idrak_text_cleaner.cpython-310.pyc
dashboard/ai_tools/__pycache__/idrak_text_cleaner.cpython-310.pyc
.gitignore
.gitignore
dashboard/__pycache__/analayze.cpython-310.pyc
dashboard/checkpoints/best_ali_abbas_demo-v1.ckpt
dashboard/checkpoints/best_ali_abbas_demo.ckpt
dashboard/checkpoints/best_binary_class-v1.ckpt
dashboard/checkpoints/best_binary_class.ckpt
dashboard/checkpoints/best_demo_1-v1.ckpt
dashboard/checkpoints/best_demo_1-v2.ckpt
dashboard/checkpoints/best_demo_1-v3.ckpt
dashboard/checkpoints/best_demo_1-v4.ckpt
dashboard/checkpoints/best_demo_1-v5.ckpt
dashboard/checkpoints/best_demo_1-v6.ckpt
dashboard/checkpoints/best_demo_1-v7.ckpt
dashboard/checkpoints/best_demo_1.ckpt
dashboard/checkpoints/best_demo_model-v1.ckpt
dashboard/checkpoints/best_demo_model.ckpt
dashboard/checkpoints/best_task_demo-v1.ckpt
dashboard/checkpoints/best_task_demo.ckpt
dashboard/checkpoints/best_training_demo-v1.ckpt
dashboard/checkpoints/best_training_demo-v2.ckpt
dashboard/checkpoints/best_training_demo-v3.ckpt
dashboard/checkpoints/best_training_demo.ckpt
dashboard/contents/data/binary_data/binary_data_test.csv
dashboard/contents/data/binary_data/binary_data_train_aug.csv
dashboard/contents/data/binary_data/binary_data_train.csv
dashboard/contents/data/cleaning_demo/cleaning_demo_test.csv
dashboard/contents/data/cleaning_demo/cleaning_demo_train_aug.csv
dashboard/contents/data/cleaning_demo/cleaning_demo_train.csv
dashboard/lightning_logs/5DF766/version_0/events.out.tfevents.1671859278.kali
dashboard/lightning_logs/5DF766/version_0/hparams.yaml
dashboard/lightning_logs/91709E/version_0/events.out.tfevents.1671858482.kali
dashboard/lightning_logs/91709E/version_0/hparams.yaml
dashboard/lightning_logs/9F3EDA/version_0/events.out.tfevents.1671860502.kali
dashboard/lightning_logs/9F3EDA/version_0/hparams.yaml
dashboard/lightning_logs/B6AD3E/version_0/events.out.tfevents.1671862224.kali
dashboard/lightning_logs/B6AD3E/version_0/hparams.yaml
dashboard/lightning_logs/B7D4CE/version_0/events.out.tfevents.1671862481.kali
dashboard/lightning_logs/B7D4CE/version_0/hparams.yaml
dashboard/lightning_logs/IDRAK/version_10/events.out.tfevents.1671852883.kali
dashboard/lightning_logs/IDRAK/version_10/hparams.yaml
dashboard/lightning_logs/IDRAK/version_6/events.out.tfevents.1671851464.kali
dashboard/lightning_logs/IDRAK/version_6/hparams.yaml
dashboard/lightning_logs/IDRAK/version_7/events.out.tfevents.1671852095.kali
dashboard/lightning_logs/IDRAK/version_7/hparams.yaml
dashboard/lightning_logs/IDRAK/version_8/events.out.tfevents.1671852335.kali
dashboard/lightning_logs/IDRAK/version_8/hparams.yaml
dashboard/lightning_logs/IDRAK/version_9/events.out.tfevents.1671852437.kali
dashboard/lightning_logs/IDRAK/version_9/hparams.yaml
dashboard/models/ali_abbas_demo/ali_abbas_demo_class_labels.json
dashboard/models/ali_abbas_demo/ali_abbas_demo_history.csv
dashboard/models/ali_abbas_demo/ali_abbas_demo_invalid_predictions.csv
dashboard/models/ali_abbas_demo/ali_abbas_demo_report.json
dashboard/models/binary_class/binary_class_class_labels.json
dashboard/models/binary_class/binary_class_history.csv
dashboard/models/binary_class/binary_class_invalid_predictions.csv
dashboard/models/binary_class/binary_class_report.json
dashboard/models/binary_class/.ipynb_checkpoints/binary_class_history-checkpoint.csv
dashboard/models/binary_class/.ipynb_checkpoints/binary_class_invalid_predictions-checkpoint.csv
dashboard/models/binary_class/.ipynb_checkpoints/binary_class_report-checkpoint.json
dashboard/tinybert_results1/ali_abbas_demo_class_labels.json
dashboard/tinybert_results1/ali_abbas_demo_history.csv
dashboard/tinybert_results1/ali_abbas_demo_invalid_predictions.csv
dashboard/tinybert_results1/ali_abbas_demo_report.json
dashboard/tinybert_results1/binary_class_class_labels.json
dashboard/tinybert_results1/binary_class_history.csv
dashboard/tinybert_results1/binary_class_invalid_predictions.csv
dashboard/tinybert_results1/binary_class_report.json
dashboard/tinybert_results1/demo_model_class_labels.json
dashboard/tinybert_results1/demo_model_history.csv
dashboard/tinybert_results1/demo_model_invalid_predictions.csv
dashboard/tinybert_results1/demo_model_report.json
dashboard/tinybert_results1/training_demo_class_labels.json
dashboard/tinybert_results1/training_demo_history.csv
dashboard/tinybert_results1/training_demo_invalid_predictions.csv
dashboard/tinybert_results1/training_demo_report.json
.ipynb_checkpoints/inference_check-checkpoint.ipynb
dashboard/__pycache__/evaluate.cpython-310.pyc
dashboard/ai_tools/__pycache__/inference_logistics.cpython-310.pyc
inference_check.ipynb
test_strings.csv
dashboard/checkpoints/
dashboard/lightning_logs/
dashboard/tinybert_results1
dashboard/contents/
dashboard/temp.csv.csv
